<div class="mx-auto space-y-3 max-w-prose shadow shadow-sky-500/50 p-3 my-5 rounded">    
    <% if publisher_signed_in? %>

        <div class="flex bg-sky-100 p-3 rounded">
            <div class="flex-1">
                <%= image_tag (current_publisher.profile_picture), alt: "profile", class: "rounded-full h-32 w-32" %>
            </div>
            <div class="flex-auto m-8">
                <p class="text-sky-400 text-2xl font-semibold drop-shadow-xl"><%= current_publisher.username %></p>
            </div>
        </div><hr/ class="drop-shadow-xl">

        <div class="py-3">
            <% if current_publisher %>
                <div class="flex">            
                    <div class="flex flex-1 items-center justify-center">
                    
                        <%= link_to "New Article",
                        new_article_path, class: 
                        "p-2 text-sky-500 text-sm font-semibold p-1 border border-2
                         border-sky-500 rounded hover:text-stone-50 hover:bg-sky-500" %>
                    
                    </div>
                    <div class="flex flex-1 items-center justify-center">
                        <%= link_to "Show Articles",
                         articles_path, class: 
                          "p-2 text-blue-500/100 text-sm font-semibold p-1 m-2 border
                           border-2 border-blue-600 rounded hover:text-stone-50 hover:bg-blue-500" %>
                    </div>
                </div>
            <% end %>    
        </div>
        <hr/ >

        <div><h2 class="text-sky-600 font-bold bg-sky-200 p-2 rounded py-3">Details</h2></div>
        <div>
            <h3 class="font-bold bg-sky-50 p-2 rounded py-3 text-sky-500">Email</h3>
            <p class="m-3"><%= current_publisher.email %></p>
        </div>
        <div>
            <h3 class="font-bold bg-sky-50 p-2 rounded py-3 text-sky-500">Biography</h3>
            <p class="mx-3"><%= current_publisher.bio %></p>
        </div>
        <% if current_publisher %>
            <div>            
                <%= link_to "Edit Profile",
                edit_publisher_registration_path, class: 
                "py-2 text-sky-50 bg-sky-500 p-1 border 
                border-2 rounded border-sky-500 hover:text-sky-500 hover:bg-sky-50" %>
            </div>
        <% end %>

    <% end %>

    
</div>