<div class="container mx-auto">
<% if publisher_signed_in? %>
    <div class="sm:flex p-5 basis-12">
           
            <%= link_to "New Article",
                        new_article_path, class: 
                        "p-2 text-white bg-sky-500 text-sm font-semibold p-1 
                        rounded hover:text-sky-500 hover:bg-white border
                         border-sky-500 border-2 text-center" %>
    </div>
    <hr / class="border-t border-slate-100 my-8 font-bold h-2">
<% end %>
    
    <div class="sm:flex sm:flex-row gap-5">
        <div class="basis-9/12"> 
        
        
            
                <% @categories.each do |category| %>
                    <h1 class="my-5 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 mt-5 rounded"><%= category %></h1>
                    <% @articles_by_category[category].each do |article| %>
                        <div class="justify-center items-center flex-wrap inline-flex font-semibold text-center">
                            <div>
                                <%= link_to image_tag(article.article_photo.variant(resize_to_limit: [110, nil]),
                                class: "rounded h-36 mx-auto"), article %>
                                <%= link_to article.title, article, class: "text-sky-500" %>
                                
                                <p class=" font-normal text-sky-400  p-1 rounded">
                                <%= time_ago_in_words(article.created_at, include_seconds: true, date_only: false) %> ago.
                                </p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </ul>
            
        </div>
        <div class="basis-3/12">
        <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded">Editors Pick</h1>
            <% if @latest_articles.present? %>
                <% @latest_articles.each do |article| %>
                    
                        <div class="font-bold list-none flex mx-auto my-3 gap-3">
                            
                            <div>
                                <%= link_to image_tag(article.article_photo.variant(resize_to_limit: [100, nil]),
                                class: "rounded "), article %>
                            </div>
                            <div>
                                <%= link_to article.title, article, class: "text-sky-500 my-auto " %>
                            <p class="font-normal text-sky-400  p-1 rounded">
                                <%= time_ago_in_words(article.created_at, include_seconds: true, date_only: false) %> ago.
                            </p>
                            </div>  
                        </div>
                    
                <% end %>
            <% else %>
                    <p>No editor picked articles found.</p>
            <% end %>
            
        <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded">General News</h1>
            
            <% if @random_articles.present? %>
                <% @latest_articles.each do |article| %>
                    
                        <div class="font-bold list-none flex mx-auto my-3 gap-3">
                            <div>
                                <%= link_to image_tag(article.article_photo.variant(resize_to_limit: [100, nil]),
                                class: "rounded"), article  %>
                            </div>
                            <div>
                                <%= link_to article.title, article, class: "text-sky-500 my-auto " %>
                                <p class="font-normal text-sky-400  p-1 rounded">
                                    <%= time_ago_in_words(article.created_at, include_seconds: true, date_only: false) %> ago.
                                </p>
                            </div>
                        </div>
                    
                <% end %>
            <% else %>
                    <p>No general news articles found.</p>
            <% end %>
            </ul>
        </div>
    </div>
    

    
</div>