<div class="container mx-auto">
    
    <div class="sm:flex sm:flex-row gap-3">
        <div class="basis-9/12">
        <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded">Latest News</h1>
            <ul class="py-5 list-disc list-outside space-y-3 mx-auto">
                <% @articles.each do |article| %>
                    <% if article.publisher == current_publisher || !current_publisher %>
                        <li class="font-bold list-none flex space-x-6 inline-block align-middle ">
                            <%= image_tag (article.article_photo), alt: "profile", class: "rounded w-64 " %>
                            <%= link_to article.title, article, class: "text-sky-500 mt-20 " %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        
            <ul class="py-5 list-disc list-outside space-y-3">
                <% @categories.each do |category| %>
                    <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded"><%= category %></h1>
                    <% @articles_by_category[category].each do |article| %>
                        <li class="font-bold list-none flex space-x-6 inline-block align-middle ">
                            <%= image_tag (article.article_photo), alt: "profile", class: "rounded w-64 " %>
                            <%= link_to article.title, article, class: "text-sky-500 mt-20 " %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
            
        </div>
        <div class="basis-3/12">
        <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded">Editors Pick</h1>
            <ul class="py-5 list-disc list-outside space-y-3">
            <% if @latest_articles.present? %>
                <% @latest_articles.each do |article| %>
                    
                        <li class="font-bold list-none flex space-x-6 inline-block align-middle ">
                            <%= image_tag (article.article_photo), alt: "profile", class: "rounded w-64 " %>
                            <%= link_to article.title, article, class: "text-sky-500 mt-20 " %>
                        </li>
                    
                <% end %>
            <% else %>
                    <p>No editor picked articles found.</p>
            <% end %>
            </ul>
        <h1 class="my-2 text-center text-5xl font-sans text-sky-500 bg-sky-50 p-2 rounded">General News</h1>
            <ul class="py-5 list-disc list-outside space-y-3">
            <% if @random_articles.present? %>
                <% @latest_articles.each do |article| %>
                    
                        <li class="font-bold list-none flex space-x-6 inline-block align-middle ">
                            <%= image_tag (article.article_photo), alt: "profile", class: "rounded w-64 " %>
                            <%= link_to article.title, article, class: "text-sky-500 mt-20 " %>
                        </li>
                    
                <% end %>
            <% else %>
                    <p>No general news articles found.</p>
            <% end %>
            </ul>
        </div>
    </div>
    

    <% if current_publisher %>            
        <%= link_to "New Article",
        new_article_path, class: 
        "p-2 font-bold text-sky-500 p-1 border-2 border-sky-500 rounded
        hover:text-stone-50 hover:bg-sky-500" %>
     <% end %>
</div>