<div class="mx-auto max-w-screen-lg">
    <div class="py-3 font-bold uppercase"><span class="bg-sky-500 text-white p-1 rounded"><%= @article.category %></span></div>
    <div class="my-3 font-semibold">
        <h1 class="text-5xl text-slate-500"><%= @article.title %></h1>
        <hr / class="border-t border-slate-100 my-8">
    </div>
    <div class="py-3 font-medium"><span class="bg-slate-400 text-white rounded p-1">
        <%= @article.created_at.strftime("%B %d, %Y") %></span>
    </div>
    <div class="my-3 font-semibold">
        <% if @article.article_photo.attached? %>
            <%= image_tag (@article.article_photo.variant(resize_to_limit: [750, nil])), alt: "profile", class: "rounded  " %>
        <% end %>
    </div>
    <hr / class="border-t border-slate-100 my-8">
    <div class="py-3 font-bold">
     <span class="text-slate-500 bg-slate-100 p-1 rounded">
        By-<%= @article.publisher.username %>
     </span>
    </div>
    <hr / class="border-t border-slate-100 my-8">

    <div class="py-3"><%= @article.content %></div>
    <div class="mx-auto">
        <h3 class="my-2 text-center text-5xl font-sans text-slate-500 bg-slate-100 p-2 rounded">
            More in <%= @article.category %>
        </h3>

                    <% if @related_articles.present? %>
                        <% @related_articles.each do |article| %>
                            <div class="justify-center items-center flex-wrap inline-flex font-semibold text-center">
                                <div>
                                
                                    <% if @article.article_photo.attached? %>
                                    
                                    <%= link_to image_tag(article.article_photo.variant(resize_to_limit: [150, nil]),
                                    class: 'mx-auto my-auto h-32 p-2'), article %>
                                        <% end %>
                                    <%= link_to article.title, article_path(article), class: "my-auto mx-auto text-sky-400 font-semibold" %>
                                </div>
                            </div>    
                        <% end %>
                    <% else %>
                            <p>No related articles found.</p>
                    <% end %>
    </div>
    
    
        <div class="text-center m-3">
            <% if current_publisher %>
                <%= link_to "Edit Article", edit_article_path(@article), 
                class: "p-1 font-bold rounded text-stone-50  bg-cyan-500
                    hover:text-cyan-500 hover:bg-stone-50 hover:border-2 hover:border-cyan-500" %>
                <%= link_to "Delete Article", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                }, class: "text-red-100 rounded bg-red-500 p-1 font-bold
                 hover:text-red-500 hover:bg-stone-50 hover:border-2 hover:border-red-500"%>
            <% end %>
        
            <%= link_to "Back to Articles",
                articles_path, class: 
                " text-sky-500 p-1 border border-sky-500 hover:text-stone-50
                 hover:bg-sky-500 rounded border-2 font-bold" %>
        </div>
    
</div>